@media (min-width: 64rem) {
    .card {
        grid-template-areas: 
            "header description"
            "header footer";
    }

    header {
        grid-area: header;
    }

    section {
        grid-area: description;
    }

    footer {
        grid-area: footer;
    }

    .share-tab::before {
        content: "";
        top: 100%;
        left: 50%;
        height: 20px;
        width: 20px;
        position: absolute;
        background-color: var(--color-Grayish-Blue-Dark);
        transform: rotate(135deg) translate(-20%, 50%);
    }
}